body {
  background-color: #fffcf5;
  font-family: 'Cinzel';
  padding: 20px;
}

h1 {
  font-size: 30px;
  font-color: #1c1c1c;
}

h2 {
  font-size: 30px;
  font-color: red;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: fredericka the great, fantasy;
}


